<mat-toolbar class="toolbar mat-elevation-z2">
  <mat-toolbar-row>
    <a class="logo-link">
      <div class="logo-container">
        <mat-icon>verified_user</mat-icon>
        <div class="logo-text">Lingo Command</div>
      </div>
    </a>

    <div class="toolbar-spacer" fxFlex></div>
    <!-- <div fxShow fxHide.gt-sm>
      <button mat-icon-button aria-label="Menu" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button uiSref="events" mat-menu-item>
          Events
        </button>
        <button uiSref="contacts" mat-menu-item>
          Contacts
        </button>
      </mat-menu>
    </div>
    <div fxHide fxShow.gt-sm>
      <button uiSref="events" uiSrefActive="active" mat-stroked-button>
        Events
      </button>
      <button uiSref="contacts" uiSrefActive="active" mat-stroked-button>
        Contacts
      </button>
    </div> -->
    <div>Welcome, Commander</div>
  </mat-toolbar-row>
</mat-toolbar>
